* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .menu-container {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: center;
    color: #fff;
    background-color: #385898;  /* Blue */
   height: 40px;
    
  }
  
  .menu { 
     /* For debugging */
     
    width: 900px;
    display: flex;
    justify-content: space-around;
   padding: 8px;
  }

  .header-container
{
    background-color:#E9EBEE;
    padding: 50px;
    height: 1200px;
	 color: #5995DA;

     display: flex;
     justify-content: center;

}
.header {
  width: 1000px;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}
.header-item {
    background-color:#E9EBEE;
    border: 2px solid #fff;
    height: auto;
    flex: 1;
  }
.header-one 
{
    flex:1.5;
    
}
.header-two
{
  height: 1500px;
    flex:4;
    background-color: rgb(255, 255, 255);
     display: flex;
     justify-content: center;
}
.header-three
{
 
  
    flex:2.5;
    background-color: rgb(255, 255, 255);
     display: flex;
     justify-content: center;
}


  .inner21{
  background-color:#E9EBEE;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: stretch;
  }
  
  .inner2-item{
      background-color: white;;
     margin-top: 10px;
    border: 1px solid black;
    width: 500px;
    height: 300px;
  }
  .inner2-zero
  {
    flex: 0.5;

  }
   .inner2-one
  {
      flex: 1.5;
    
  }
  .inner2-two
  {
      flex: 2.5;
  }
  .inner2-three
  {
      flex: 2.5;
  } 


  .inner31{

    background-color:#E9EBEE;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      align-items: stretch;
    }
    
    .inner3-item{
      
        background-color: white;;
       margin-top: 10px;
      border: 1px solid black;
      width: 300px;
      height: 500px;
    }
    .inner3-zero
    {
      flex: 0.2;
  
    }
     .inner3-one
    {
        flex: 2.5;
      
    }
    .inner3-two
    {
        flex: 3.5;
    }
    .inner3-three
    {
        flex: 0.5;
    } 