* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-container {
	display: flex;
  justify-content: center;
  color: #fff;
  background-color: #5995DA;  /* Blue */
  padding: 20px 0;
}

.menu { 
  border: 1px solid #fff;  /* For debugging */
  width: 900px;
  display: flex;
  justify-content: space-around;
}
.links
{
	bottom: 1px solid #fff;
	display: flex;
	justify-content: flex-end;
}
.login
{
	margin-left: 20px;
}
.header-container
{
	 color: #5995DA;
     background-color: #D6E9FE;
     display: flex;
     justify-content: center;

}
.header {
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}