* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .menu-container {
    color: #fff;
    background-color:black; /* Blue */
    padding: 20px ;
    display: flex;
  
  }
  
  .menu {
     /* For debugging */
    width: 900px;
    display: flex;
    justify-content: space-between;
  }
  .abc
  {
      font-size: 30px;
      /* padding: 10px; */
       padding-left: 101px; 

  }  
  .field
  {
      text-align: center;
      padding: 20px;
      width:100%;
      height:100%;

  }
  #form
  {   
      
      padding-top: 10%;
      width:100%;
      height: 100%;
      display: block;
      text-align:center;
      background-image: url("images/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
            
      }
#form1
      {  width:50%;
          height:50%;
          display: inline-block;
          background-color:rgba(192,192,192,0) ;
          margin-left: auto;
          margin-right: auto;
         
      }
 .ip{
          height:30px;
        width: 300px;     
     }
     .btn
    
     {
         width:150px;
         height:20px;

     }
    